{% extends 'base/base.html' %}
{% block content %}
{% load static %}
{% include 'includes/_navbars.html' %}

<!--Hero Area-->

<!--/Hero Area-->

<div class="reg-wrapper">
    <div class="container">
        <div class="col-sm-7 col-md-6">
            <div class="">
                {% if validlink %}
                <ul class="nav nav-tabs">

                    <li id="btntab2"><a href="#tab2" data-toggle="tab">Reset Password</a></li>
                </ul>
                <div class="tab-content">
                    <div class="row">
                        <!-- alert message -->



                    </div>

                    <div>
                        <form method="post" accept-charset="utf-8">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-xl-12">
                                    {% if messages %}
                                    {% for message in messages %}
                                    <div {% if message.tags %}
                                        class="alert alert-{{ message.tags }}  alert-dismissible  show" {% endif %}
                                        role="alert">
                                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    {% endfor %}

                                    {% endif %}
                                </div>
                                <div class="col-xl-12" id='message11'>

                                </div>
                                <div class="col-sm-12">
                                    <div class="input">
                                        <input class="input__field" type="password" name="new_password1"
                                            autocomplete="new-password" required="" id="id_new_password1"
                                            aria-autocomplete="list" required>
                                        <label class="input__label" for="id_new_password1">
                                            <span class="input__label-content" data-content="Enter New Password">Enter
                                                New Password</span>
                                        </label>
                                        <div style="margin-top: 7px; margin-left: 22px;" id="CheckPasswordMatch"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="input">
                                        <input class="input__field" type="password" name="new_password2"
                                            autocomplete="new-password" required="" id="id_new_password2">
                                        <label class="input__label" for="id_new_password2">
                                            <span class="input__label-content" data-content="Confirm Password">Confirm
                                                Password</span>
                                        </label>
                                        <div style="margin-top: 7px; margin-left: 22px;" id="CheckPasswordMatch"></div>
                                    </div>
                                </div>

                            </div>

                            {% for field in form %}
                            {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                            {% endfor %}
                            {% endfor %}

                            <button type="submit" class="btn btn-reg">Submit</button>

                        </form>
                    </div>
                </div>
                {% else %}
                <div class="login">
                    <div class="jumbotron" style="background: transparent;">
                        <p>
                            The password reset link was invalid, possibly because it has already
                            been used.
                            Please request a new password reset.
                        </p>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% include 'includes/_footer.html' %}


{% endblock %}