{% extends 'base/base.html' %}
{% block content %}
  {% load static %}
        {% include 'includes/_navbars.html' %}
         
        <!--Hero Area-->
    {% comment %} <section class="hero-section">
        <div class="hero-area wave-animation">
            <div class="single-hero gradient-overlay">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-5 centered">
                            <div class="hero-sub">
                                <div class="table-cell">
                                    <div class="hero-left">
                                        
                                        
                                        
                                        <div id="balance" class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                                        <h2>Email Sent</h2>
                                            <div  >
                                                <p>
                                                We've emailed you instructions for setting your password, if an account exists with the email you entered.
                                                You should receive them shortly.
                                              
                                                If you don't receive an email, please make sure you've entered the address you registered with,
                                                and check your spam folder.
                                              </p>
                                            </div>
                                        </div>
                                           
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/Hero Area--> {% endcomment %}


    <div class="reg-wrapper">
    <div class="container">
        <div class="col-sm-7 col-md-6">
            <div class="">
                <ul class="nav nav-tabs">

                    <li id="btntab2"></li>
                </ul>
                <div class="tab-content">
                    <div class="row">
                        <!-- alert message -->



                    </div>

                    <div>
                        <form method="post" accept-charset="utf-8">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-xl-12">
                                    {% if messages %}
                                    {% for message in messages %}
                                    <div {% if message.tags %}
                                        class="alert alert-{{ message.tags }}  alert-dismissible  show" {% endif %}
                                        role="alert">
                                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    {% endfor %}

                                    {% endif %}
                                </div>
                                <div class="col-xl-12" id='message11'>

                                </div>
                                <p>
                                                We've emailed you instructions for setting your password, if an account exists with the email you entered.
                                                You should receive them shortly.
                                              
                                                If you don't receive an email, please make sure you've entered the address you registered with,
                                                and check your spam folder.
                                              </p>
                               
                            </div>

                            {% for field in form %}
                            {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                            {% endfor %}
                            {% endfor %}

                            

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    {% include 'includes/_footer.html' %}
    {% include 'includes/_scripts.html' %}

  {% endblock %}
