{% extends 'base/base.html' %}
{% block content %}
{% load static %}
{% include 'includes/_navbars.html' %}




<div class="reg-wrapper">
    <div class="container">
        <div class="col-sm-7 col-md-6">
            <div class="">
                <ul class="nav nav-tabs">

                    <li id="btntab2"><a href="#tab2" data-toggle="tab">Enter Email Your Email To Reset</a></li>
                </ul>
                <div class="tab-content">
                    <div class="row">
                        <!-- alert message -->



                    </div>

                    <div>
                        <form method="post" accept-charset="utf-8">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-xl-12">
                                    {% if messages %}
                                    {% for message in messages %}
                                    <div {% if message.tags %}
                                        class="alert alert-{{ message.tags }}  alert-dismissible  show" {% endif %}
                                        role="alert">
                                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    {% endfor %}

                                    {% endif %}
                                </div>
                                <div class="col-xl-12" id='message11'>

                                </div>
                                <div class="col-sm-12">
                                    <div class="input">
                                        <input class="input__field" type="email" name="email" autocomplete="email"
                                            maxlength="254" autocomplete="off" required>
                                        <label class="input__label" for="input">
                                            <span class="input__label-content" data-content="Enter your email">Enter
                                                your email
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            {% for field in form %}
                            {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                            {% endfor %}
                            {% endfor %}

                            <button type="submit" class="btn btn-reg">Submit</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'includes/_footer.html' %}
{% include 'includes/_scripts.html' %}

{% endblock %}