{% load static %}


<section class="transactions" id="invest">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="section-heading">
                    <h5 class="sub-title">
                        User Statistics
                    </h5>
                    <div class="title-big">
                        TRANSACTIONS
                    </div>
                    <h2 class="title">
                        User Statistics
                    </h2>
                    <p class="text">
                        List of latest investments made on Maximcoinfx.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="transaction-table">
                    <div class="responsive-table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Type</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Invest Amount</th>
                                    <th scope="col">Time Left</th>
                                    <th scope="col">Payout Amount</th>
                                </tr>
                            </thead>
                            <tbody>


                                <tr>
                                    <td>
                                        Invest
                                    </td>
                                    <td>
                                        2021-11-19
                                    </td>
                                    <td>

                                        700$
                                    </td>
                                    <td class="countdown" data-date="Feb 17,2022 03:50:37">




                                    </td>
                                    <td>

                                        2800$
                                    </td>
                                </tr>



                                <tr>
                                    <td>
                                        Invest
                                    </td>
                                    <td>
                                        2021-11-19
                                    </td>
                                    <td>

                                        600$
                                    </td>
                                    <td class="countdown" data-date="Jan 18,2022 02:55:33">




                                    </td>
                                    <td>

                                        300$
                                    </td>
                                </tr>



                                <tr>
                                    <td>
                                        Invest
                                    </td>
                                    <td>
                                        2021-11-18
                                    </td>
                                    <td>

                                        100$
                                    </td>
                                    <td class="countdown" data-date="Feb 16,2022 11:50:09">




                                    </td>
                                    <td>

                                        400$
                                    </td>
                                </tr>



                                <tr>
                                    <td>
                                        Invest
                                    </td>
                                    <td>
                                        2021-11-18
                                    </td>
                                    <td>

                                        50$
                                    </td>
                                    <td class="countdown" data-date="Dec 18,2021 10:03:05">




                                    </td>
                                    <td>

                                        200$
                                    </td>
                                </tr>



                                <tr>
                                    <td>
                                        Invest
                                    </td>
                                    <td>
                                        2021-11-17
                                    </td>
                                    <td>

                                        50$
                                    </td>
                                    <td class="countdown" data-date="Dec 17,2021 06:58:38">




                                    </td>
                                    <td>

                                        200$
                                    </td>
                                </tr>



                                <tr>
                                    <td>
                                        Invest
                                    </td>
                                    <td>
                                        2021-11-17
                                    </td>
                                    <td>

                                        1081$
                                    </td>
                                    <td class="countdown" data-date="Dec 17,2021 08:43:29">




                                    </td>
                                    <td>

                                        4324$
                                    </td>
                                </tr>



                                <tr>
                                    <td>
                                        Invest
                                    </td>
                                    <td>
                                        2021-11-16
                                    </td>
                                    <td>

                                        1000$
                                    </td>
                                    <td class="countdown" data-date="Feb 14,2022 08:37:50">




                                    </td>
                                    <td>

                                        4000$
                                    </td>
                                </tr>



                                <tr>
                                    <td>
                                        Invest
                                    </td>
                                    <td>
                                        2021-11-15
                                    </td>
                                    <td>

                                        50$
                                    </td>
                                    <td class="countdown" data-date="Dec 15,2021 09:59:06">




                                    </td>
                                    <td>

                                        200$
                                    </td>
                                </tr>



                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>